<template>
  <div class="home">
    <NewsList />
  </div>
</template>

<script>
// @ is an alias to /src
import NewsList from '@/components/NewsList.vue';

export default {
  name: 'Home',
  components: {
    NewsList,
  },
  mounted() {
    this.$emit('updatePageTitle', { title: 'Новости и события' });
  },
};
</script>
