<template>
  <v-container class="text-center fill-height">
    <v-row>
      <v-col>
        <h2>Личный кабинет</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-form
          class="mt-5"
          ref="form"
          v-model="valid"
        >
          <v-text-field
            v-model="username"
            label="Имя пользователя"
            hint="Символы до @ вашей электронной почты"
          ></v-text-field>
          <v-select
            v-model="org"
            :items="orgs"
            label="Организация"
          ></v-select>
          <v-text-field
            :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show_password ? 'text' : 'password'"
            v-model="password"
            label="Пароль"
            @click:append="show_password = !show_password"
          ></v-text-field>
          <v-btn
            class="my-5"
            color="primary"
            @click="submit"
          >
            <span class="px-7">Вход</span>
          </v-btn>
          <div class="text-body-2 white--text mt-5" style="opacity: .5">
            <p>Если вы ранее не задавали пароль,<br>
              то воспользуйтесь формой ниже</p>
            <p><u>Я не помню логин и пароль</u></p>
          </div>

        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { onLogin } from '@/plugins/vue-apollo';
import TOKEN_AUTH from '../gql-queries/TokenAuth.graphql';

export default {
  name: 'Login',
  data: () => ({
    valid: false,
    show_password: false,
    org: null,
    username: 'protasovse',
    password: '',
    orgs: ['РН-БашНИПИнефть', 'РН-УдмуртНИПИнефть'],
  }),
  methods: {
    async submit() {
      try {
        const result = await this.$apollo.mutate({
          mutation: TOKEN_AUTH,
          variables: {
            username: this.username,
            password: this.password,
          },
        });
        await onLogin(this.$apollo, result.data.tokenAuth.token);
        await this.$router.push({ name: 'Home' });
      } catch (e) {
        console.log(e.message);
      }
    },
  },
};
</script>

<style scoped>

</style>
