<template>
  <div>
    <v-list v-if="!this.$apollo.loading" two-line>
      <v-list-item
        v-for="thread in threads"
        :key="thread.id"
        :to="`/messenger/thread/${thread.id}`"
      >
        <v-list-item-avatar color="primary"/>

        <v-list-item-content>
          <v-list-item-title v-text="getParticipant(thread)"></v-list-item-title>
          <v-list-item-subtitle
            v-if="thread.lastMessage"
            v-html="thread.lastMessage.content"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-icon>
          {{ thread.numberUnreadMessages }}
        </v-list-item-icon>
      </v-list-item>
    </v-list>

    <v-btn
      to="/messenger/contacts"
      class="btn-fab mr-5 mb-5"
      color="primary"
      elevation="2"
      fab
    >
      <v-icon>mdi-pencil</v-icon>
    </v-btn>
  </div>
</template>

<script>
import THREADS from '@/gql-queries/MessengerThreads.graphql';
import AUTH_USER from '@/gql-queries/AuthUser.graphql';

export default {
  name: 'Messenger',
  data: () => ({
    threads: [],
  }),
  apollo: {
    threads: {
      query: THREADS,
      update: (data) => data.messengerThreads,
    },
    user: {
      query: AUTH_USER,
    },
  },
  methods: {
    getParticipant(thread) {
      const p = thread?.thread?.participants;
      const re = p[0].id === this.user.id ? p[1] : p[0];
      return `${re.lastName} ${re.firstName}`;
    },
  },
  mounted() {
    // устанавливаем заголовок
    this.$emit('updatePageTitle', { title: 'Чаты' });

    // подписываемся на события websocket
    this.$options.sockets.onmessage = (wsMessage) => {
      const obj = JSON.parse(wsMessage.data);
      // события с type: 'messenger.new.message' для всех тредов
      if (obj?.type === 'messenger.new.message') {
        // console.log(this.threads);
        // console.log(obj?.data);
        this.threads.forEach((thread) => {
          if (Number(thread.id) === obj?.data.thread_id) {
            // eslint-disable-next-line no-param-reassign
            thread.lastMessage = obj?.data;
            // eslint-disable-next-line no-param-reassign
            thread.numberUnreadMessages += 1;
          }
        });
      }
    };
  },
};
</script>

<style lang="sass" scoped>
.btn-fab
  position: fixed
  bottom: 0
  right: 0
</style>
