<template>
  <v-container>
    <ApolloQuery
      :query="gql => gql`query messengerMessages($threadId: ID!) {
        __typename
        messengerMessages(threadId: $threadId) {
          id
          lastReadMessageId
          messages {
            content
            id
            datetime
            sender {
              firstName
              lastName
            }
          }
        }
      }
      `"
      :variables="{ threadId: id }"
    >
      <template v-slot="{ result: { loading, error, data } }">
        <div v-if="loading" class="loading apollo">Loading...</div>
        <!-- Error -->
        <div v-else-if="error" class="error apollo">An error occurred</div>
        <!-- Result -->
        <div v-else-if="data" class="result apollo">{{ data }}</div>
        <!-- No result -->
        <div v-else class="no-result apollo">No result :(</div>
      </template>
    </ApolloQuery>
    <div v-if="false" class="d-flex flex-column pb-15 chat-container">
      <div
        v-for="message in messages"
        :key="message.id || message.tmp_id"
        :class="{ 'justify-end my': Number(message.sender.id) === Number(user.id) }"
        class="d-flex flex-row mb-3"
      >
        <messenger-message
          @shown="messageShown"
          :message="message"/>
      </div>
    </div>

    <v-footer
      fixed
      dark
      padless
    >
      <v-textarea
        label="Сообщение..."
        v-model="newMessage"
        class="m-0"
        style="margin: 0!important;"
        rows="1"
        solo
        hide-details
        dense
        auto-grow
        filled
        append-outer-icon="mdi-send"
        _append-icon="mdi-star-outline"
        @click:append-outer="sendMessage"
        @keyup.ctrl.enter.prevent="sendMessage"
      ></v-textarea>
    </v-footer>
  </v-container>
</template>

<script>
import READ_MESSAGE from '@/gql-queries/mutations/MessengerReadMessage.graphql';
// import MESSAGES from '@/gql-queries/messengerMessages.graphql';
// import AUTH_USER from '@/gql-queries/AuthUser.graphql';
import MessengerMessage from '@/components/MessengerMessage.vue';

const WS_MESSAGE_OBJ = (threadId, content, tmpId) => ({
  type: 'send.message.to.thread',
  data: {
    thread_id: Number(threadId),
    content,
    tmp_id: tmpId,
  },
});

export default {
  name: 'MessengerThread',
  components: { MessengerMessage },
  props: {
    id: String,
  },
  data: () => ({
    messages: [],
    newMessage: '',
    lastReadMessageId: 0,
    readMessageTimer: null,
  }),
  // apollo: {
  //   messages: {
  //     query: MESSAGES,
  //     variables() {
  //       return { threadId: this.id };
  //     },
  //     update: (data) => data?.messengerMessages?.messages,
  //     // result({ data }) {
  //     //   this.lastReadMessageId = data?.messengerThreadOne?.lastReadMessageId;
  //     //   this.scrollToEnd();
  //     // },
  //   },
  //   user: {
  //     query: AUTH_USER,
  //   },
  // },
  methods: {
    makeTmpId(length) {
      let result = '';
      const characters = 'abcdefghijklmnopqrstuvwxyz0123456789';
      const charactersLength = characters.length;
      for (let i = 0; i < length; i += 1) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
      }
      return result;
    },
    sendMessage() {
      if (!this.newMessage) return;
      const tmpId = this.makeTmpId(10);
      this.messages.push({
        id: null,
        tmpId,
        content: this.newMessage,
        datetime: '',
        sender: {
          id: this.user.id,
          firstName: this.user.firstName,
          lastName: this.user.lastName,
        },
      });
      this.scrollToEnd();
      this.$socket.sendObj(WS_MESSAGE_OBJ(this.id, this.newMessage, tmpId));
      this.newMessage = '';
    },
    scrollToEnd() {
      this.$nextTick(() => {
        const container = this.$el.querySelector('.chat-container');
        container.scrollIntoView({
          behavior: 'smooth',
          block: 'end',
          alignToTop: false,
        });
      });
    },
    readMessage(id) {
      this.$apollo.mutate({
        mutation: READ_MESSAGE,
        variables: { id },
      });
    },
    messageShown(message) {
      /* Обработчик события, что сообщение прорисовано и показано */
      const { id, sender } = message;
      // если id прорисованного сообщения больше, чем id последнего непрочитанного
      if (id > this.lastReadMessageId) {
        this.lastReadMessageId = id;
        // если сендер не является текущим пользователем
        if (this.user.id !== sender.id) {
          clearTimeout(this.readMessageTimer);
          this.readMessageTimer = setTimeout(this.readMessage, 100, id);
        }
      }
    },
  },
  // mounted() {
  //   // устанавливаем заголовок
  //   this.$emit('updatePageTitle', {
  //     title: 'Диалог с ...',
  //     backButtonLink: '/messenger',
  //     showBackButton: true,
  //   });
  //   // подписываемся на события websocket
  //   this.$options.sockets.onmessage = (wsMessage) => {
  //     const obj = JSON.parse(wsMessage.data);
  //     // события с type: 'messenger.new.message', только для текущего треда
  //     if (obj?.type === 'messenger.new.message' && obj?.data?.thread_id === Number(this.id)) {
  //       let f = true;
  //       if (obj?.data?.tmp_id) {
  //         // eslint-disable-next-line no-restricted-syntax
  //         for (const m of this.messages) {
  //           if (m.tmpId === obj?.data?.tmp_id) {
  //             f = false;
  //             m.id = obj?.data?.id;
  //             m.tmpId = null;
  //           }
  //         }
  //       }
  //       if (f) {
  //         this.messages.push(obj?.data);
  //         this.scrollToEnd();
  //       }
  //     }
  //     if (obj?.type === 'error') {
  //       alert(obj?.content.message);
  //     }
  //   };
  // },
};
</script>

<style lang="sass" scoped></style>
