<template>
  <div>
    <v-list>
      <v-list-item
        v-for="user in phonebook"
        :key="user.id"
      >
        <v-list-item-content>
          <v-list-item-title v-text="user.lastName"></v-list-item-title>
          <v-divider></v-divider>
        </v-list-item-content>

      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import PHONEBOOK_SEARCH from '@/gql-queries/PhonebookSearch.graphql';

export default {
  name: 'MessengerContacts',
  data: () => ({
    queryString: 'каш',
  }),
  apollo: {
    phonebook: {
      query: PHONEBOOK_SEARCH,
      variables() {
        return {
          isSearch: true,
          queryString: this.queryString || '',
        };
      },
    },
  },
  mounted() {
    this.$bus.emit('page-title-show-appbar', false);
  },
  beforeDestroy() {
    this.$bus.emit('page-title-show-appbar', true);
  },
};
</script>

<style scoped>

</style>
