<template>
  <v-container>
    <v-list subheader two-line>
      <v-subheader>
        <v-text-field
          v-model="queryString"
          placeholder="Поиск сотрудника"
          append-icon="mdi-magnify"
          clearable
          clear-icon="mdi-close"
        ></v-text-field>
      </v-subheader>
      <v-list-item-group>
        <template v-if="getPhonebook()">
          <template v-for="item in getPhonebook()">
            <v-list-item
              :key="item.id"
              @click="$router.push({name: 'Profile', params: {username: item.username}})"
            >
              <v-list-item-content>
                <v-list-item-title>{{ item|fullname }}</v-list-item-title>
                <v-list-item-subtitle
                  v-if="'status' in item && item.status"
                  v-text="item.status['displayAs']"></v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-icon v-if="inFavorite(item.id)" color="yellow darken-3">
                  mdi-star
                </v-icon>
              </v-list-item-action>
            </v-list-item>
            <v-divider :key="`d-${item.id}`"></v-divider>
          </template>
        </template>
        <template v-else>
          <!--        <h4>Введите поисковую фразу</h4>-->
        </template>
      </v-list-item-group>
    </v-list>
  </v-container>
</template>

<script>
import PHONEBOOK_SEARCH from '@/gql-queries/PhonebookSearch.graphql';
import AUTH_USER from '@/gql-queries/AuthUser.graphql';

export default {
  name: 'Phonebook',
  data: () => ({
    selected: [10],
    queryString: null,
    user: {},
    phonebook: [],
  }),
  filters: {
    fullname: (user) => `${user.lastName} ${user.firstName}`,
  },
  apollo: {
    phonebook: {
      query: PHONEBOOK_SEARCH,
      variables() {
        return {
          isSearch: true,
          queryString: this.queryString || '',
        };
      },
    },
    user: {
      query: AUTH_USER,
    },
  },
  methods: {
    getPhonebook() {
      if (this.phonebook.length > 0) {
        return this.phonebook;
      }
      return this.user.favorites;
    },
    inFavorite(id) {
      if (!this.user) return false;
      return this.user.favorites.map((i) => i.id)
        .includes(id);
    },
  },
};
</script>

<style scoped>

</style>
