<template>
  <v-container>
    <v-card
      class="mx-auto"
      max-width="344"
      outlined
    >
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4" v-if="'status' in phonebookOne">
            {{ phonebookOne.status.displayAs }}</div>
          <v-list-item-title class="text-h6 mb-3">
            {{ phonebookOne.lastName }}
            {{ phonebookOne.firstName }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item
        v-for="number in getAllPhones()"
        :key="number"
      >
        <v-list-item-icon>
          <v-icon>mdi-phone</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title v-html="phoneLink(number)"></v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-card-actions>
        <v-btn icon @click="toFavorite()">
          <v-icon v-if="inFavorite()" color="yellow darken-2">mdi-star</v-icon>
          <v-icon v-else>mdi-star-outline</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import PHONEBOOK_ONE_ITEM from '@/gql-queries/PhonebookOneItem.graphql';
import AUTH_USER from '@/gql-queries/AuthUser.graphql';
import USER_TO_FAVORITE from '@/gql-queries/mutations/UserToFavorite.graphql';

export default {
  name: 'Profile',
  props: {
    username: String,
  },
  data: () => ({
    phonebookOne: {},
  }),
  apollo: {
    phonebookOne: {
      query: PHONEBOOK_ONE_ITEM,
      variables() {
        return {
          username: this.username || '',
        };
      },
    },
    user: {
      query: AUTH_USER,
    },
  },
  methods: {
    getAllPhones() {
      // все телефоны из всех полей профиля пользователя
      return 'profile' in this.phonebookOne ? [
        this.phonebookOne.profile.phoneNumber,
        ...this.phonebookOne.profile.phoneNumberWork.split(';'),
      ] : [];
    },
    phoneLink(value) {
      // по номеру телефона генерит ссылку tel:
      let res = value.replace(/[^0-9]+/g, '');
      if (res[0] === '7') res = `8${res.substr(1)}`;
      return `<a href="tel:${res}">${value}</a>`;
    },
    async toFavorite() {
      await this.$apollo.mutate({
        mutation: USER_TO_FAVORITE,
        variables: {
          id: this.phonebookOne.id,
          add: !this.inFavorite(),
        },
        update: (store, { data: { userAddToFavorite: { added } } }) => {
          // Прочтём данные из кеша для этого запроса.
          const data = store.readQuery({ query: AUTH_USER });
          if (added) {
            data.user.favorites.push(this.phonebookOne);
          } else {
            data.user.favorites = data.user.favorites.filter((i) => i.id !== this.phonebookOne.id);
          }
          // Записываем данные обратно в кеш.
          store.writeQuery({ query: AUTH_USER, data });
        },
      });
    },
    inFavorite() {
      return this.user ? this.user.favorites.some((i) => i.id === this.phonebookOne.id) : false;
    },
  },
};
</script>

<style scoped>

</style>
