<template>
  <v-sheet
    class="sheet pa-3 pr-10"
    style="display: inline-block;"
    elevation="5"
    rounded
  >
    <h4 class="subtitle-2 primary--text">
      {{ message.sender.lastName }} {{ message.sender.firstName }}</h4>
    <div class="caption">{{ message.content }}</div>
    <div class="footer caption">{{ message.id }}</div>
  </v-sheet>
</template>

<script>
export default {
  name: 'MessengerMessage',
  props: {
    message: Object,
  },
  created() {
    // Отправляем событие, что сообщение message показано
    this.$emit('shown', this.message);
  },
};
</script>

<style lang="sass" scoped>
.my
  h4
    display: none
    align-self: end

.sheet
  position: relative

  .footer
    position: absolute
    bottom: 0
    right: 0
    margin: 0 8px 3px 0
    font-size: .9em
    color: #555
</style>
