<template>
  <v-container class="pa-0">
    <h2 v-if="user">{{ user.lastName }}</h2>
    <v-card
      v-for="n in news.objects" :key="n.id"
      class="mx-auto mb-3"
      rounded="false"
      tile
      elevation="10"
    >
      <v-card-title class="subtitle-1">{{ n.title }}</v-card-title>

      <v-card-subtitle class="caption">{{ moment(n.publicDate).format('LLL') }}
      </v-card-subtitle>

      <v-img
        :src="`https://assistant.rn.digital/${n.image}`"
        gradient="to bottom, rgba(0,0,0,.4), rgba(0,0,0,.8)"
      ></v-img>

      <v-card-actions class="text--secondary">
        <v-btn text icon color="red">
          <v-icon>mdi-heart</v-icon>
        </v-btn>
        <span class="caption">{{ n.likesCounter }}</span>
        <span class="mr-4"></span>
        <v-btn text icon>
          <v-icon>mdi-eye</v-icon>
        </v-btn>
        <span class="caption">{{ n.viewsCounter }}</span>

        <v-spacer></v-spacer>

        <v-btn
          icon
          @click="show = !show"
        >
          <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>

          <v-card-text v-html="n.preview" class="body-2"></v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </v-container>
</template>

<script>
import NEWS_LIST from '../gql-queries/NewsList.graphql';

export default {
  name: 'NewsList',
  data: () => ({
    news: [],
    show: false,
    user: null,
  }),
  apollo: {
    news: {
      query: NEWS_LIST,
    },
  },
};
</script>
