<template>
  <v-app class="overflow-hidden">
    <v-navigation-drawer
      v-model="drawer"
      color="thirty"
      fixed
      dark
    >
      <v-list
        dense
        nav
        class="py-0"
      >
        <v-list-item two-line>
          <v-list-item-avatar>
            <img alt="" src="https://randomuser.me/api/portraits/men/81.jpg">
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title
              v-if="user">{{ user.lastName }} {{ user.firstName }}
            </v-list-item-title>
            <v-list-item-subtitle
              v-if="user">{{ user.status.displayAs }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      v-if="appbar"
      fixed
      dense
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-btn v-if="pageTitleBackButton"
             :to="pageTitleBackButtonLink"
             icon
             class="mr-3">
        <v-icon>mdi-arrow-left</v-icon>
      </v-btn>

      <template v-if="!search">
        <v-toolbar-title class="subtitle-1" v-text="pageTitle"/>

        <v-spacer></v-spacer>

<!--        <v-btn icon @click.stop="$bus.emit('page-title-right-icon-click');">-->
<!--          <v-icon v-text="`mdi-magnify`"></v-icon>-->
<!--        </v-btn>-->
      </template>
      <template v-else>
        <!--v-text-field
          class="ml-5 mt-4"
          v-model="search"
          clearable
          clear-icon="mdi-close"
        ></v-text-field-->
      </template>

    </v-app-bar>

    <v-main
      style="padding-top: 48px;"
    >
      <router-view @updatePageTitle="onUpdatePageTitle"></router-view>
    </v-main>
  </v-app>
</template>

<script>
import AUTH_USER from './gql-queries/AuthUser.graphql';

export default {
  name: 'App',
  data: () => ({
    appbar: true,
    pageTitle: 'Новости и события',
    pageTitleBackButton: false,
    pageTitleBackButtonLink: null,
    pageTitleRightIcon: null,
    drawer: false,
    items: [
      {
        title: 'Новости',
        icon: 'mdi-newspaper',
        route: { name: 'Home' },
      },
      {
        title: 'Мессенжер',
        icon: 'mdi-comment-question-outline',
        route: { name: 'Messenger' },
      },
      {
        title: 'Справочник сотрудников',
        icon: 'mdi-account-multiple-outline',
        route: { name: 'Phonebook' },
      },
      {
        title: 'Моё состояние',
        icon: 'mdi-needle',
      },
      {
        title: 'Настройки',
        icon: 'mdi-cog-outline',
      },
    ],
    search: false,
    user: null,
  }),
  apollo: {
    user: {
      query: AUTH_USER,
    },
  },
  methods: {
    onUpdatePageTitle({ title, showBackButton, backButtonLink }) {
      this.pageTitle = title;
      this.pageTitleBackButton = showBackButton;
      this.pageTitleBackButtonLink = backButtonLink;
    },
    showAppbar(event) {
      this.appbar = event;
    },
  },
  beforeCreate() {
    if (localStorage.getItem('apollo-token') === null) {
      this.$router.push({ name: 'Login' });
    }
  },
  mounted() {
    this.$bus.on('page-title-show-appbar', this.showAppbar);
    this.$connect(`${process.env.VUE_APP_WEBSOCKET}?${localStorage.getItem('apollo-token')}`);
  },
};
</script>
